/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, p {
    font-family: 'Open Sans', sans;
    color: black;
    background-color: lightgrey;
}

.container{
    display: grid;
    grid-template-areas: "header header" 
    "content content" 
    "footer footer";

}

.header{
    grid-area: header;
  }
  .content{
    grid-area: content;
  }
  .footer{
    grid-area: footer;
  }
  
  