:root {

    --background-body: #1e0731;
    --color-text-all: blueviolet;

    /* CORES PARA  btn BOTAO DE CALCULAR */
    --color-text-btn: #f1f1f1;
    /* cor do btn */
    --cor-background-btnAfter: #333;
    /* cor btn:after */
    /* backgroud btn::before */
    --cor-background-btnBefore: linear-gradient(45deg,
            #7bece7,
            #5f72dc,
            #bb3cbb,
            #a53170,
            #782135,
            #e4faff,
            #adacd1,
            #beb2d5);
    --cor-background-btnActive: #782135;
    /* btn:active */
    --btn-active-after: transparent;
    /* btn:active:after */

    /* Cores para Checkbox*/
    --color-active: #275EFE;
    --color-active-inner: #fff;
    --color-focus: 2px rgba(39, 94, 254, .3);
    --color-border: #BBC1E1;
    --color-border-hover: #275EFE;
    --color-background: #fff;
    --color-disabled: #F6F8FF;
    --color-disabled-inner: #E1E6F9;


    /* COR PARA O HEADER */
    --cor-header-h4: #00dfc4; /* subtitulo h4 */

    /* COR PARA FUNDO MODAL */
    --corfundoModal: rgba(0, 0, 0, 0.9);
    --corfontModal: rgb(81, 18, 122);

    /* COR PARA INPUTS */
    --cor-inputBox-border: rgba(255, 255, 255, 0.25); 
    --cor-background-inputBox: #1d2b3a;
    --cor-text-inputBox: #f1f1f1;
    --cor-span-inputBox: rgba(255, 255, 255, 0.25);
    --cor-focus-inputBox: #00dfc4;
    --cor-background-inputBoxChild-focusSpan: #00dfc4;
    --cor-text-inputBoxChild-focusSpan: #1d2b3a; 
}